
<%-include('../partials/header')%>
    <!-- end header section -->
  </div>

  <!-- book section -->
  <section class="book_section layout_padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <%for(let i of allBlogs){%>
                <div class="blog-post">
                    <img src="<%=i.image%>" alt="Post Image">
                    <div class="post-date"><%=moment(i.createdAt).format('MMMM Do, YYYY')%></div>
                    <div class="post-title"><%=i.name%></div>
                    <div class="post-excerpt"><%=truncateHtml(i.content)%></div>
                    <a href="/blog/<%=i._id%>" class="btn btn-primary read-more">READ MORE</a>
                </div>
                <%}%>
            </div>
            <div class="col-lg-4">
                <!-- Search bar -->
                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Search Blogs ...">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" type="button">
                            <i class="fa fa-search"></i>
                        </button>
                    </div>
                </div>
                <div class="recent-posts text-dark p-2 h3" style="border-bottom: 1px solid black">Recent Posts</div>
                <!-- blog post -->
                <%for(let i of recent){%>
                <div class="blog-post">
                    <div class="post-date"><%=moment(i.createdAt).format('MMM. Do, YYYY')%></div>
                    <div class="post-title"><%=i.name%></div>
                    <div class="post-excerpt"><%=truncateHtml(i.content)%></div>
                    <a href="/blog/<%=i._id%>" class="btn btn-link read-more">Continue Reading</a>
                </div>
                <%}%>
            </div>
        </div>
    </div>
  </section>
  <!-- end book section -->

 <!-- footer section -->
 <%-include('../partials/footer')%>

 <!-- footer section -->

 <%-include('../partials/script')%>

  

</body>

</html>