
<%-include('../partials/header')%>
    <!-- end header section -->
  </div>

  <!-- book section -->
  <section class="book_section layout_padding">
    <div class="container">
      <div class="text-center">
        <h2>
          Your Cart Items
        </h2>
      </div>
      <table>
        <thead>
            <tr>
                <th>Image</th>
                <th>Menu Name</th>
                <th>Price</th>
                <th>Restuarant Name</th>
                <th>Quantity</th>
                <th>Add to cart</th>
            </tr>
        </thead>
        <tbody>
          <%for(let i of cartData.cart){%>
            <tr>
                
                  <td><img src="<%=i.menu.image%>" alt="Pizza" style="width: 50px;"></td>
                <td><%=i.menu.name %></td>
                <td>$<%=i.menu.price %></td>
                <td><%=i.menu.restaurant.name%></td>
                <td><span class ="d-flex justify-content-center"><button class="btn btn-secondary position-relative" style="border-radius: 0;">-</button><div class="p-2" style="border: 1px solid black; width: 50px; height: 50px; text-align: center;"><%=i.count%></div><button class="btn btn-secondary position-relative" style="border-radius: 0;">+</button></span></td>
                <td><a href="/order?menu=<%=i.menu._id%>&restaurant=<%=i.menu.restaurant._id%>"><button class="buy-now">Buy Now</button></a></td>

            </tr>
            <%}%>
  
        </tbody>
    </table>
    </div>
  </section>
  <!-- end book section -->

 <!-- footer section -->
 <%-include('../partials/footer')%>

 <!-- footer section -->

 <%-include('../partials/script')%>

  

</body>

</html>