
<%-include('../partials/header')%>
    <!-- end header section -->
  </div>

  <!-- book section -->
  <section class="book_section layout_padding">
    <div class="container">
      <div class="text-center">
        <h2 style="font-weight: bold; font-size: 2.5rem">
          All Restaurants
        </h2>
      </div>
      <div class="row mt-5">
        <%for(let i of restaurants){%>
        <div class="col-lg-6 d-flex justify-content-center pb-5">
            <div class="restaurant-card">
                <div class="header">
                    <h2><%=i.name%></h2>
                </div>
                <div class="image">
                    <img src="<%=i.image%>" alt="" style="width: 100%; height: 100%; object-fit: cover; object-position: center">
                </div>
                <div class="content">
                    <h2>Total Menu: <%=i.menu.length%></h2>
                    <p><%=i.cuisine%></p>
                    <div class="stars">
                        <i class="fa fa-star" style="color:bisque;"></i>
                        <i class="fa fa-star" style="color:bisque;"></i>
                        <i class="fa fa-star" style="color:bisque;"></i>
                        <i class="fa fa-star" style="color:bisque;"></i>
                        <i class="fa fa-star"></i>
                        <span>(<%const count=0%>
                            <%for(let j of i.reviews){%>
                        <%count=count+j.rating%>
                        <%}%>
                        <%=count/i.reviews.length ||0%> )</span>
                    </span>
                    </div>
                    <a href="/menu?restaurant=<%=i._id%>" class="menu-btn">MENU</a>
                    <!-- address -->
                    <div class="address">
                        <i class="fa fa-map-marker" style="color:bisque;"></i>
                        <p><%=i.address%></p>
                    </div>
                    <!-- phone -->
                    <div class="phone">
                        <i class="fa fa-phone" style="color:bisque;"></i>
                        <p><%=i.phone%></p>
                    </div>
                    <!-- email -->
                    <div class="email">
                        <i class="fa fa-envelope" style="color:bisque;"></i>
                        <p><%=i.email%></p>
                    </div>
                    <!-- time -->
                    <div class="time">
                        <i class="fa fa-clock-o" style="color:bisque;"></i>
                        <p><%=i.openingTime%> - <%=i.closingTime%></p>
                    </div>
                </div>
            </div>
        </div>
        <%}%>
      </div>
    </div>
  </section>
  <!-- end book section -->

 <!-- footer section -->
 <%-include('../partials/footer')%>

 <!-- footer section -->

 <%-include('../partials/script')%>

  

</body>

</html>