<!DOCTYPE html>
<html>

<head>
  <!-- Basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Site Metas -->
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  <link rel="shortcut icon" href="images/favicon.png" type="">

  <title> Feane </title>

  <!-- bootstrap core css -->
  <link rel="stylesheet" type="text/css" href="/css/bootstrap.css" />

  <!--owl slider stylesheet -->
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" />
  <!-- nice select  -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-nice-select/1.1.0/css/nice-select.min.css" integrity="sha512-CruCP+TD3yXzlvvijET8wV5WxxEh5H8P4cmz0RFbKK6FlZ2sYl3AEsKlLPHbniXKSrDdFewhbmBK5skbdsASbQ==" crossorigin="anonymous" />
  <!-- font awesome style -->
  <link href="/css/font-awesome.min.css" rel="stylesheet" />

  <!-- Custom styles for this template -->
  <link href="/css/style.css" rel="stylesheet" />
  <!-- responsive style -->
  <link href="/css/responsive.css" rel="stylesheet" />
  <style>
    /* cart style */
    table {
            width: 100%; 
            margin: auto;
            border-collapse: collapse; 
           
        }
        th, td {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px; 
            text-align: center;
        }
        th {
            background-color: #f2f2f2;
        }
        .cart-container {
            font-size: 14px; 
        }
        .buy-now {
            background-color: orange;
            color: white;
            border: none;
            padding: 8px 16px;
            cursor: pointer;
        }
    /* restaurant style */
    .restaurant-card {
            width: 450px;
            background-color: #333;
            color: #fff;
            border-radius: 10px;
            overflow: hidden;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
            text-align: center;
        }
        .restaurant-card .header {
            background-color: #000;
            padding: 20px;
            font-size: 24px;
            font-weight: bold;
            position: relative;
        }
        .restaurant-card .header img {
            width: 20px;
            height: 20px;
            position: absolute;
            right: 20px;
            top: 20px;
        }
        .restaurant-card .image {
            width: 100%;
            height: 210px;
            background-color: #888;
            /* background-image: url('https://via.placeholder.com/300x150'); */
            background-size: cover;
            background-position: center;
        }
        .restaurant-card .content {
            padding: 20px;
        }
        .restaurant-card .content h2 {
            margin: 0;
            font-size: 20px;
        }
        .restaurant-card .content p {
            margin: 10px 0;
            font-size: 14px;
        }
        .restaurant-card .stars {
            margin: 10px 0;
        }
        .restaurant-card .stars img {
            width: 20px;
            height: 20px;
        }
        .restaurant-card .menu-btn {
            display: block;
            width: 100%;
            padding: 2px;
            background-color: #ffcc00;
            color: #000;
            text-decoration: none;
            font-size: 22px;
            border-radius: 0 0 10px 10px;
        }
    /* Blog Post */
    .blog-post {
        margin-bottom: 30px;
    }
    .blog-post img {
        width: 100%;
        border-radius: 5px;
    }
    .blog-post .post-title {
        font-size: 1.5rem;
        font-weight: bold;
        margin-top: 15px;
    }
    .blog-post .post-date {
        color: #888;
        font-size: 0.9rem;
        margin-top: 10px;
    }
    .blog-post .post-excerpt {
        margin-top: 10px;
    }
    .blog-post .read-more {
        margin-top: 10px;
        display: block;
    }
    .comments-section {
            margin-top: 20px;
        }
        .comment {
            margin-bottom: 10px;
        }
        .comment .comment-author {
            font-weight: bold;
        }
        .comment .comment-date {
            color: #888;
            font-size: 0.9rem;
        }
        .comment .comment-text {
            margin-top: 5px;
        }
        .profile-card {
            background-color: #f8f9fa;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }
        .profile-card img {
            width: 100px;
            height: 100px;
            border-radius: 50%;
            margin-bottom: 10px;
        }
        .profile-card h5 {
            margin-top: 10px;
        }
        .profile-card .btn {
            margin-top: 10px;
        }
        .info-card {
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            margin-bottom: 20px;
        }
        .info-card h6 {
            margin-bottom: 10px;
        }
        @media (max-width: 320px) {
          .restaurant-card {
            width: 300px;
          }
        }
</style>
</head>

<body 
<%if("title"!=="home"){%>
  class="sub_page"
  <%}%>
  >

  <div class="hero_area">
    <div class="bg-box">
      <img src="/images/hero-bg.jpg" alt="">
    </div>
    <!-- header section strats -->
    <header class="header_section">
      <div class="container">
        <nav class="navbar navbar-expand-lg custom_nav-container ">
          <a class="navbar-brand" href="/">
            <span>
              Feane
            </span>
          </a>

          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class=""> </span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <%if(!logUser){%>
              <ul class="navbar-nav  mx-auto ">
                <li class="nav-item <%=title === 'home' && 'active' %>">
                  <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item <%=title === 'menu' && 'active' %>">
                  <a class="nav-link" href="/menu">Menu</a>
                </li>
                <li class="nav-item <%=title === 'about' && 'active' %>">
                  <a class="nav-link" href="/about">About</a>
                </li>
                <!-- <li class="nav-item <%=title === 'book' && 'active' %>">
                  <a class="nav-link" href="/book">Book Table</a>
                </li> -->
              </ul>
              
              <div class="user_option">
                <div class="dropdown">
                  <i class="fa fa-user user_link btn dropdown-toggle" type="button" id="dropdownMenuButton1" data-toggle="dropdown" aria-expanded="false">
                  </i>
                  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    <li><a class="dropdown-item" href="/partner/signup">Become a Partner</a></li>
                  </ul>
                </div>
                <!-- <a href="" class="user_link">
                  <i class="fa fa-user" aria-hidden="true"></i>
                </a> -->
                <!-- <a class="cart_link" href="#">
                  <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 456.029 456.029" style="enable-background:new 0 0 456.029 456.029;" xml:space="preserve">
                    <g>
                      <g>
                        <path d="M345.6,338.862c-29.184,0-53.248,23.552-53.248,53.248c0,29.184,23.552,53.248,53.248,53.248
                     c29.184,0,53.248-23.552,53.248-53.248C398.336,362.926,374.784,338.862,345.6,338.862z" />
                      </g>
                    </g>
                    <g>
                      <g>
                        <path d="M439.296,84.91c-1.024,0-2.56-0.512-4.096-0.512H112.64l-5.12-34.304C104.448,27.566,84.992,10.67,61.952,10.67H20.48
                     C9.216,10.67,0,19.886,0,31.15c0,11.264,9.216,20.48,20.48,20.48h41.472c2.56,0,4.608,2.048,5.12,4.608l31.744,216.064
                     c4.096,27.136,27.648,47.616,55.296,47.616h212.992c26.624,0,49.664-18.944,55.296-45.056l33.28-166.4
                     C457.728,97.71,450.56,86.958,439.296,84.91z" />
                      </g>
                    </g>
                    <g>
                      <g>
                        <path d="M215.04,389.55c-1.024-28.16-24.576-50.688-52.736-50.688c-29.696,1.536-52.224,26.112-51.2,55.296
                     c1.024,28.16,24.064,50.688,52.224,50.688h1.024C193.536,443.31,216.576,418.734,215.04,389.55z" />
                      </g>
                    </g>
                    <g>
                    </g>
                    <g>
                    </g>
                    <g>
                    </g>
                    <g>
                    </g>
                    <g>
                    </g>
                    <g>
                    </g>
                    <g>
                    </g>
                    <g>
                    </g>
                    <g>
                    </g>
                    <g>
                    </g>
                    <g>
                    </g>
                    <g>
                    </g>
                    <g>
                    </g>
                    <g>
                    </g>
                    <g>
                    </g>
                  </svg>
                </a> -->
                <!-- <form class="form-inline">
                  <button class="btn  my-2 my-sm-0 nav_search-btn" type="submit">
                    <i class="fa fa-search" aria-hidden="true"></i>
                  </button>
                </form> -->
                <a href="/signup" class="order_online" st>
                  Sign Up
                </a>
  
                <a href="/login" class="order_online">
                  Log In
                </a>
                <!-- <a href="/partner/signup" class="order_online">
                  Become a Partner
                </a> -->
              </div>
              <%}else{%>
                <ul class="navbar-nav  mx-auto px-0">
                  <li class="nav-item <%=title === 'home' && 'active' %>">
                    <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                  </li>
                  <li class="nav-item <%=title === 'menu' && 'active' %>">
                    <a class="nav-link" href="/menu">Menu</a>
                  </li>
                  <li class="nav-item <%=title === 'about' && 'active' %>">
                    <a class="nav-link" href="/about">About</a>
                  </li>
                  <li class="nav-item <%=title === 'restaurant' && 'active' %>">
                    <a class="nav-link" href="/restaurant">Restaurant</a>
                  </li>
                  <li class="nav-item <%=title === 'blog' && 'active' %>">
                    <a class="nav-link" href="/blog">Blog</a>
                  </li>
                  <li class="nav-item <%=title === 'menu' && 'active' %>">
                    <form class="form-inline" action="/search" method="get">
                      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="query">
                      <button class="btn btn-outline-warning my-2 my-sm-0" type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
                    </form>
                  </li>
                  <!-- <li class="nav-item <%=title === 'book' && 'active' %>">
                    <a class="nav-link" href="/book">Book Table</a>
                  </li> -->
                </ul>
                
                <div class="user_option">
                  <div class="dropdown">
                    <i class="fa fa-user user_link btn dropdown-toggle" type="button" id="dropdownMenuButton1" data-toggle="dropdown" aria-expanded="false">
                    </i>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                      <li><a class="dropdown-item" href="/cart">Your Cart</a></li>
                     <li><a class="dropdown-item" href="/orders">Your Orders</a></li>
                      <li><a class="dropdown-item" href="/profile">Profile</a></li>
                      <li><a class="dropdown-item" href="/logout">Logout</a></li>
                    </ul>
                  </div>
                  <!-- <a href="" class="user_link">
                    <i class="fa fa-user" aria-hidden="true"></i>
                  </a> -->
                  <a class="cart_link" href="/cart">
                    <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 456.029 456.029" style="enable-background:new 0 0 456.029 456.029;" xml:space="preserve">
                      <g>
                        <g>
                          <path d="M345.6,338.862c-29.184,0-53.248,23.552-53.248,53.248c0,29.184,23.552,53.248,53.248,53.248
                       c29.184,0,53.248-23.552,53.248-53.248C398.336,362.926,374.784,338.862,345.6,338.862z" />
                        </g>
                      </g>
                      <g>
                        <g>
                          <path d="M439.296,84.91c-1.024,0-2.56-0.512-4.096-0.512H112.64l-5.12-34.304C104.448,27.566,84.992,10.67,61.952,10.67H20.48
                       C9.216,10.67,0,19.886,0,31.15c0,11.264,9.216,20.48,20.48,20.48h41.472c2.56,0,4.608,2.048,5.12,4.608l31.744,216.064
                       c4.096,27.136,27.648,47.616,55.296,47.616h212.992c26.624,0,49.664-18.944,55.296-45.056l33.28-166.4
                       C457.728,97.71,450.56,86.958,439.296,84.91z" />
                        </g>
                      </g>
                      <g>
                        <g>
                          <path d="M215.04,389.55c-1.024-28.16-24.576-50.688-52.736-50.688c-29.696,1.536-52.224,26.112-51.2,55.296
                       c1.024,28.16,24.064,50.688,52.224,50.688h1.024C193.536,443.31,216.576,418.734,215.04,389.55z" />
                        </g>
                      </g>
                      <g>
                      </g>
                      <g>
                      </g>
                      <g>
                      </g>
                      <g>
                      </g>
                      <g>
                      </g>
                      <g>
                      </g>
                      <g>
                      </g>
                      <g>
                      </g>
                      <g>
                      </g>
                      <g>
                      </g>
                      <g>
                      </g>
                      <g>
                      </g>
                      <g>
                      </g>
                      <g>
                      </g>
                      <g>
                      </g>
                    </svg>
                  </a>
                  <!-- <form class="form-inline">
                    <button class="btn  my-2 my-sm-0 nav_search-btn" type="submit">
                      <i class="fa fa-search" aria-hidden="true"></i>
                    </button>
                  </form> -->
                  <!-- <a href="/signup" class="order_online" st>
                    Sign Up
                  </a> -->
    
                  <!-- <a href="/login" class="order_online">
                    Log In
                  </a> -->
                  <!-- <a href="/partner/signup" class="order_online">
                    Become a Partner
                  </a> -->
                </div>
                <%}%>
          </div>
        </nav>
      </div>
    </header>
    <!-- end header section -->